* {padding:0;
  margin:0;
  box-sizing: border-box;}

html {
  width:100%;
  height:100%;
  scroll-behavior: smooth;
  
}
body{
    overflow-x:hidden;
    background-image: url(./images/srodek1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;   
}

p {
  font-size: 2vmin;
  text-shadow: 2px 2px 8px #000;
}
